.style1 {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(241, 241, 241, 0.295)
}

.center {
    animation-name: transisi;
    animation-duration: 1s;
    animation-delay: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    padding: 0px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 32px -11px #000000;
    box-shadow: 0px 0px 32px -20px #000000;
    text-align: center;
    overflow: hidden;

}
@keyframes transisi{
    0% {
  
        transform: translate(0px, 200px);
        width: 10%;
        position: absolute;
        animation-timing-function: ease-out;
        opacity: 0 ;
    }
    70%{
       
     
        transform: translate(0px, -50px);
        position: absolute;
        animation-timing-function: ease-out;
       
    }
   
    100% { transform: translate(0px, 0px);}
}

.headline {
    font-size: 30px;
    color: white;
    width: 100%;
    background-color: rgb(43, 226, 165);
    font-family: 'Poppins', sans-serif;


}

.form {
    padding: 5px;
}

.input {
    width: 30%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    outline: none;
    padding: 5px;
    margin-bottom: 12px;
}

.input:focus {


    border-radius: 5px;
    border: 1px solid rgb(43, 226, 165);
}

.input:hover {

 

    border-radius: 5px;
    border: 1px solid rgb(43, 226, 165);
}
.button{
    border-radius: 6px;
    outline: none;
    padding: 3px;
    width: 30%;
border: 2px solid white;
color: white;

background:linear-gradient(90deg, rgb(43, 226, 165) 0%, rgba(43, 226, 165, 0.74) 80%);
}

.button:active{
    border: 2px solid rgb(43, 226, 165);

}
.output {
    background-color: gray;
    width: 90%;
    height: 100px;
    margin: auto;
    color: white;
    overflow-y: scroll;
    text-align: left;
    font-size: small;
    padding: 3px;
}